body{
    margin: 0px;
}

a:hover{
    text-decoration: none;
}

.fixedPosition{
    overflow: hidden;
 }

button:focus {
    outline: none;
}

/* sidenav */

.sidenav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EB503E;
    overflow-x: hidden;
    transition: 0.5s;
    text-align:center;
    z-index: 1001;
  }

  .sidenav-bottom{
    bottom: 0px;
}
  
.sidenavContainer{
    padding-top: 50px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
  
  .sidenav a {
    text-decoration: none;
    font-size: 4em;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover{
    opacity: 0.6;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


/* header */

.header{
    background-color: black;
    background-image: url('res/nameBackgroundDark.svg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 98vh;
}

.header-logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    height: 80%; 
    max-width: 90vw;
}

.light-button{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: black;
    height: 30pt;
    width: 120pt;
    border-radius: 5pt;
    border-width: 0pt;
    outline: none;
}

.header .light-button{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* menu */

.menu-button{
    background-color: transparent;
    border-width: 0px;
    outline: none;
    position: fixed;
    top: 15px;
    right: 15px;
    outline: none;
    z-index: 1000;
    
    transition: transform 0.5s, opacity 0.2s;
    transition-timing-function: ease-out
}

.menu-button img{
    width: 40px;
    height: 40px;
}

button:hover{
    opacity: 0.8;
}

.menu-button:focus {
    outline: none;
}

.menu-button-animate{
    transform: rotate(180deg);
}

/* second slide */

.header-title{
    color: #EB503E;
    font-family: 'Lato', sans-serif;
    font-size: 78px;
    text-align: center;
    font-weight:600;
    margin-bottom: 30px;
}

.second-container{
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col{
    width: 100%;
}

.iconAndText{
    display: flex;
    align-items: center;

}

.iconAndText img{
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* projects slide */

.projects-container{
    /* height: 500vh; */
    /* padding-top: 100px; */
    background-color: black;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* overflow: hidden; */
    padding-bottom: 200px;
}

.sticky-container{
    /* position: sticky; */
    position: relative;
    top:50px;
}

.iphone-container{
    /* position: relative; */
    top:auto;
    bottom: auto;
    left:auto;
    right:auto;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    display: block;
    position: relative;
}

.iphone{
    top:auto;
    left:auto;
    bottom: auto;
    right:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 700px;
    display: block;
    transform-origin: 50% 50%;
}

#iphone-apps {
    top:0px;
    left:0;
    bottom: auto;
    right:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 700px;
    display: block;
    opacity: 0;
    position: absolute;
}

.projects-text{
    position: absolute;
    width: 50vw;
    height: 100%;
    top: 120px;
    left: 0;
    right: auto;
    margin:auto;
    display: block;
    /* text-align: center; */
    transform: translate(40vw, 0);
    opacity: 0.0;
    padding-left: 40px;
    padding-right: 40px;
}

.project-header-text{
    color: #EB503E;
    z-index: 2000;
    top:50px;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.project-subheader-text{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-bottom: 30px;
}

.scroll-helper{
    height: 100vh;
}

/* third slide  */

.third-container{
    min-height: 100vh;
    background-color: white;
    background-image: url('res/nameBackgroundLight.svg');
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.aboutMeBigText
{
    color:black;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight:600;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.styledQuotes{
    color: #EB503E;
    font-weight: 900;
}

.highlightedText{
    background-color: #EB503E;
    color: white;
    padding: 0 0.6rem;
}

.lightBlackTextButton{
    font-family: 'Lato', sans-serif;
    background: transparent;
    color: black;
    font-weight: 900;
    font-size: 20px;
    transform: color;
    transition-duration: 500ms;
    display: inline-block;
}

.lightBlackTextButton:hover{
    color: #EB503E;
}

#moreAboutMeButton
{
    width: 100%;
    background: transparent;
    width: 100%;
    text-align: right;
    padding-right: 20%;
}

.lightButtonArrow{
    height: 100%;
    vertical-align: middle;
}

.contact-container
{
    background: black;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profilePic
{
    height: 40%;
    padding-bottom: 20px; 
}

.nameMotto{
    max-width:80%;
}

.socialLinks{
    position: absolute;
    width: 100%;
    bottom: 60px;
    display: flex;
    justify-content: center;
}

.socialLink{
    height: 35px;
    /* display: inline-block; */
    margin: 0 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .iphone{
        height: auto;
        width: 80%;
    }

    #iphone-apps{
        height: auto;
        width: 80%;
    }

    .iphone-container{
        height: auto;
    }

    .projects-text{
        top:0;
        padding-top: 20px;
        position: unset;
        transform: translate(0, 0);
        width: auto;
    }

    .aboutMeBigText{
        font-size: 1.8rem;
    }

    .header-title{
        font-size: 50px;
    }
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }